@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.filter {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 10px 20px 10px 20px;

  min-height: 200px;

  border: 1px solid $muted-input;
  border-radius: 5px;
  gap: 5%;

  input,
  select {
    height: 50px;
    font-size: 1rem;
    border: 1px solid $muted-input;
    border-radius: 5px;
    padding: 10px;

    cursor: pointer;

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: 0 0 5px rgba($primary, 0.5);
    }
  }
}

.input__container {
  @include flex(column, flex-start, center);

  label {
    font-size: $base-font-size;
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

.input__search {
  position: relative;
  gap: 10px;
  @include flex(row, center, center);
  button {
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0;
  }

  select {
    width: auto;
  }

  input {
    width: 100%;
    padding-left: 40px;
  }

  inpiut::placeholder {
    color: $muted;
  }
}
