$bg-color: #f8fafc;
$primary: #3b82f6;
$accent: #10b981;
$surfaces: #ffffff;
$muted: #6b7280;
$muted-input: #bcbcbc;
$danger: #ef4444;

$heading-font: "Inter", sans-serif;
$body-font: "Inter", sans-serif;
$base-font-size: 1rem;
