.form {
  z-index: 3;
  width: 500px;

  min-height: 400px;
  max-height: 600px;
  height: auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    position: absolute;
    top: 50px;
  }

  input, select {
    height: 40px;
    width: 80%;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  textarea {
    width: 80%;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
  }

  label {
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 5px;
    font-weight: bold;  
  }
}

.form__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  right: 50px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.form__add {
  width: 50%;
  height: 40px;
  background-color: $accent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: darken($accent, 5%);
  }
}
